.wrapper {
  position: fixed;
  display: flex;
  bottom: 10px;
  right: 10px;
  z-index: 99999;
  color: #FFF;
  border: 1px solid transparent;
}

.user {
  flex: 1;
  white-space: nowrap;
  background-color: #232e3c;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
}

.user:last-child {
  margin: 0;
}

.active {
  background-color: #eb1e64;
}

.owner {
  cursor: pointer;
}

.participantIsOwner {
  border: 1px solid #eb1e64;
}

.others {
  cursor: pointer;
  opacity: 0.8;
}
