.snackbar {
  position: fixed;
  opacity: 0;
  display: flex;
  margin-left: 24px;
  bottom: 24px;
  z-index: 10;
  max-width: 800px;
  min-width: 288px;
  left: 0;
  line-height: 48px;
  height: 48px;
  padding: 0 24px;
  border-radius: 2px;
  color: #FFF;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 79px -12px rgba(0,0,0,0.2);
  transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, visibility 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform: translate3d(0px, 100px, 0px);
  font-family: Helvetica, sans-serif;
  z-index: 99;
}

.visible {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.error {
  color: #FFF;
  background-color: #eb1e64;
}

.undo {
  flex: 0;
  text-align: right;
  color: #eb1e64;
  font-weight: bold;
  cursor: pointer;
}

.text {
  flex: 1;
}
