.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 15px;
}

.listItem {
  padding: 10px;
}

.listItem:hover {
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
  cursor: pointer;
}
