.wrapper {
  display: inline-block;
  margin: 0;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wrapper input {
  position: relative;
  margin-right: 7.5px;
  top: 1px;
  cursor: pointer;
}

.wrapper span {
  position: relative;
}

.disabled span {
  color: rgba(255,255,255, 0.5);
}
